.nav-wrapper {
    background-color: #2979ff;
    color: white;
  }

 .myName {
     /* font-family: 'Pacifico', cursive; */
     font-family: 'Acme', sans-serif;
     font-size: 35px;
     margin-left: 25px;
 } 


 .header {
     color: #2979ff;
 }

 .myPic {
    border-radius: 50%;
    float: left;
    width: 200px;
    height: auto;
    shape-outside: circle();
    margin: 15px;
   
 }

.fa-linkedin {
    background-color: #2979ff;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
    
}

.resume {
    margin-left: 10px;
    
}


